@font-face {
    font-family: Choko;
    src: url(/fonts/Chokokutai-Regular.ttf);
}

@font-face {
    font-family: Caveat;
    src: url(/fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: orbit;
    src: url(/fonts/Orbit-Regular.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

body {
    background-color: rgb(183, 3, 3);
    color: #222;
    max-width:1000px;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
}

.game-display img {
    background-color: white;
    transition: 200ms;
}

.game-display img:hover {
    background-color: #111;
    cursor: pointer;
}

.gameplay {
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    animation: fade-in 3000ms forwards;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    font-family: choko;
    color: white;
}

h2, .score span {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: caveat;
}

.score-display, .score {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* color: white; */
}

.score-display {
    justify-content: space-around;
}

.display {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    font-family: orbit;
    color: white;
    background-color: #222;
    animation: fade-in 5000ms forwards;
    width: 100%;
    height: 3rem;
    
}

.game-display {
    padding: 2rem;
}



.gameplay[fading-out] {
    animation: fade-out 1000ms forwards;
}



.hidden {
    display: none;
}

@keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 15; }
    100% { opacity: 100; }
}

@keyframes fade-out {
    0% { opacity: 100; }
    100% { opacity: 0; }
}

.gameplay[bounce2] {
    animation: bounce2 1s ease ;
    animation-iteration-count: 3;
}
  
@keyframes bounce2 {
    0%, 20%, 50%, 100% {transform: translateY(0);}
    90% {transform: translateY(-50px);}
    /* 90% {transform: translateY(-10px);} */
}
